In [1]:
from src.db import SQLALCHEMY_DATABASE_URI
from flask import Flask
from src.db.model import db
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI'] = SQLALCHEMY_DATABASE_URI
db.init_app(app)
app.app_context().push()

/home/tdancois/PycharmProjects/SurfConditionsAnalysisAPI/venv/lib/python3.5/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [2]:
from src.db.datasets import get_wave_df, get_tides_df, get_weather_df, get_wind_df, get_conditions_df

In [3]:
df_conditions = get_conditions_df()
df_conditions.head()

,id,spot_id,timestamp,am_humanRelation,am_maxHeight,am_minHeight,am_occasionalHeight,am_plus,am_rating,forecaster,human,observation,pm_humanRelation,pm_maxHeight,pm_minHeight,pm_occasionalHeight,pm_plus,pm_rating
0,3,5842041f4e65fad6a7708c8d,2018-06-23,Flat,0.0,0.0,None,False,None,None,False,Very small very short period waves from the NE...,Flat,0.0,0.0,None,False,None
1,6,5842041f4e65fad6a7708c8d,2018-06-24,Flat,0.0,0.0,None,False,None,None,False,Very small very short period waves from the NE...,Flat,0.0,0.0,None,False,None
2,4,5842041f4e65fad6a7708c8d,2018-06-25,Flat,0.0,0.0,None,False,None,None,False,Very small very short period waves from the NN...,Flat,0.0,0.0,None,False,None
3,2,5842041f4e65fad6a7708c8d,2018-06-26,Flat,0.0,0.0,None,False,None,None,False,Very small very short period waves from the NE...,Flat,0.0,0.0,None,False,None
4,5,5842041f4e65fad6a7708c8d,2018-06-27,Flat,0.0,0.0,None,False,None,None,False,Very small very short period waves from the NE...,Flat,0.0,0.0,None,False,None

In [4]:
df_wave = get_wave_df()
df_wave.head()

,id,spot_id,timestamp,surf_max,surf_min,surf_optimalScore,wave_direction_0,wave_height_0,wave_optimalScore_0,wave_period_0,...,wave_optimalScore_3,wave_period_3,wave_direction_4,wave_height_4,wave_optimalScore_4,wave_period_4,wave_direction_5,wave_height_5,wave_optimalScore_5,wave_period_5
0,113,5842041f4e65fad6a7708c8d,2018-06-23 00:00:00,0.25,0.0,0.0,39.38,1.25,0.0,5.0,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,125,5842041f4e65fad6a7708c8d,2018-06-23 01:00:00,0.25,0.0,0.0,39.38,1.25,0.0,5.0,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,69,5842041f4e65fad6a7708c8d,2018-06-23 02:00:00,0.18,0.0,0.0,46.41,1.34,0.0,5.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,124,5842041f4e65fad6a7708c8d,2018-06-23 03:00:00,0.18,0.0,0.0,46.41,1.34,0.0,5.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,84,5842041f4e65fad6a7708c8d,2018-06-23 04:00:00,0.18,0.0,0.0,46.41,1.34,0.0,5.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_tides = get_tides_df()
df_tides.head()

    id                   spot_id           timestamp  height    type
0  129  5842041f4e65fad6a7708c8d 2018-06-23 00:00:00    3.81  NORMAL
1  145  5842041f4e65fad6a7708c8d 2018-06-23 01:00:00    4.28  NORMAL
2   75  5842041f4e65fad6a7708c8d 2018-06-23 02:00:00    4.55  NORMAL
3   51  5842041f4e65fad6a7708c8d 2018-06-23 02:24:00    4.58    HIGH
4  143  5842041f4e65fad6a7708c8d 2018-06-23 03:00:00    4.52  NORMAL

In [6]:
df_weather = get_weather_df()
df_weather.head()

,id,spot_id,timestamp,condition,temperature
0,113,5842041f4e65fad6a7708c8d,2018-06-23 00:00:00,NIGHT_CLEAR_NO_RAIN,18.7
1,125,5842041f4e65fad6a7708c8d,2018-06-23 01:00:00,NIGHT_CLEAR_NO_RAIN,18.3
2,69,5842041f4e65fad6a7708c8d,2018-06-23 02:00:00,NIGHT_CLEAR_NO_RAIN,17.7
3,124,5842041f4e65fad6a7708c8d,2018-06-23 03:00:00,NIGHT_CLEAR_NO_RAIN,17.2
4,84,5842041f4e65fad6a7708c8d,2018-06-23 04:00:00,NIGHT_CLEAR_NO_RAIN,16.8

In [7]:
df_wind = get_wind_df()
df_wind.head()

,id,spot_id,timestamp,direction,optimalScore,speed
0,113,5842041f4e65fad6a7708c8d,2018-06-23 00:00:00,50.52,0.0,28.86
1,125,5842041f4e65fad6a7708c8d,2018-06-23 01:00:00,54.57,0.0,28.65
2,69,5842041f4e65fad6a7708c8d,2018-06-23 02:00:00,58.65,0.0,28.58
3,124,5842041f4e65fad6a7708c8d,2018-06-23 03:00:00,60.75,0.0,27.41
4,84,5842041f4e65fad6a7708c8d,2018-06-23 04:00:00,63.04,0.0,26.28

In [8]:
from bokeh.plotting import figure 
from bokeh.io import output_notebook, show
output_notebook()
from bokeh.models.sources import ColumnDataSource
from bokeh.models import HoverTool

ImportError: No module named 'bokeh'

In [ ]:
source = ColumnDataSource(df_wave)
p = figure(x_axis_type="datetime", height=150)
p.line(x='timestamp', y='surf.max', color='darkmagenta', source=source, legend="surf max")
p.line(x='timestamp', y='surf.min', color='mediumblue', source=source, legend="surf min")
show(p)

In [ ]:
source = ColumnDataSource(df_tides)
p = figure(x_axis_type="datetime", height=150)
p.line(x='timestamp', y='height', color='darkcyan', source=source, legend="tides height")
show(p)

In [ ]:
source = ColumnDataSource(df_weather)
p = figure(x_axis_type="datetime", height=150)
p.line(x='timestamp', y='temperature', color='tomato', source=source, legend="temperature(°C)")
show(p)

In [ ]:
source = ColumnDataSource(df_wind)
p = figure(x_axis_type="datetime", height=150)
p.line(x='timestamp', y='speed', color='peru', source=source, legend="wind speed (Km/H)")
show(p)